<div id="main-left-wrapper">
  <h2><%= @category["name"] %></h2>
  <p><%= @category["description"] %></p>
  
</div>

<div id="main-right-wrapper">
  <h3><%= t('.what_to_consider') %></h3>
</div>
<div class="clr"></div>