<% content_for :title, t(:addcompany) %>


<div id="main-left-wrapper">

	<h1>Ihre Firmeneintragung ist nun erfolgreich abgeschlossen</h1>

	<p>
	Vielen Dank für die Eintragung Ihrer Firma in unser Verzeichnis. Wir werden Ihren Eintrag schnellstmöglich überprüfen
	und freischalten. Sie werden von uns unter der von Ihnen angegebenen Mail-Adresse über die Freischaltung oder eventuell
	vorhandene Fragen sofort benachrichtigt. 
	</p>
	<p>
	Bei eventuellen Fragen Ihrerseits sind wir jederzeit unter dem <a href='/kontakt'>Kontaktformular</a>, per EMail an
	<a href='mailto:support@comparendo.ch'>support@comparendo.ch</a>	oder auch	telefonisch erreichbar.
	</p>

	

</div>

<%= render :partial => 'add_company_sidebar' %>
<div class="clr"></div>