<% content_for :title, t(:payment) %>


<div id="main-left-wrapper">

	<h2>Premium Mitgliedschaft - Abrechnung</h2>

	<p>
	Im folgenden wählen Sie bitte eine Abrechnungsmethode für die Zahlung der Mitgliedsbeiträge:	
	</p>

	

</div>

<%= render :partial => 'add_company_sidebar' %>
<div class="clr"></div>