@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: 'Museo500';
    src: url('/assets/Museo500-Regular-webfont.eot');
    src: url('/assets/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Museo500-Regular-webfont.woff') format('woff'),
         url('/assets/Museo500-Regular-webfont.ttf') format('truetype'),
         url('/assets/Museo500-Regular-webfont.svg#Museo500') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Museo700';
    src: url('/assets/Museo700-Regular-webfont.eot');
    src: url('/assets/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Museo700-Regular-webfont.woff') format('woff'),
         url('/assets/Museo700-Regular-webfont.ttf') format('truetype'),
         url('/assets/Museo700-Regular-webfont.svg#Museo700') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'eurostile_lt_stdregular';
    src: url('/assets/eurostileltstd-webfont.eot');
    src: url('/assets/eurostileltstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/eurostileltstd-webfont.woff') format('woff'),
         url('/assets/eurostileltstd-webfont.ttf') format('truetype'),
         url('/assets/eurostileltstd-webfont.svg#eurostile_lt_stdregular') format('svg');
    font-weight: normal; font-style: normal;
}
.clr {clear:both;}
body {margin:0; padding:0; background-color: #f1f1f1;}
#header-line {background: url('/assets/top-border-line.png') no-repeat scroll 0% 0% transparent; height: 7px; margin: 0px auto; width: 1000px; padding-top: 0px; }
#header-wrapper{background:#fff; height:190px; clear:both; padding:0; position: relative;} 
#header-contents-wrapper {width:1000px; margin:0 auto;}
#logo {margin:45px 0 0 ; float:left; display:block;}
#logo img {width: 320px; height: 50px;}
#search-login-wrapper {width:600px; float:right; margin-top:30px; text-align:right;}
#login-wrapper {clear:both;font-family: 'Museo500'; font-size:11px; color:#999; padding-right:11px;}
#login-wrapper p a{ font-family: 'Museo500'; font-size:11px; color:#999; text-decoration:none; padding:0 3px;}
#login-wrapper p a:hover {color:#c7c7c7;}
#search-wrapper {clear:both; padding-top:10px; width:300px; float:right;}
#search-btn {float:right;}
#search-btn a, .searchbutton{
	margin-left: 5px;
	color:black;
	padding:7px 10px 6px;
	font-family: 'Museo700';
    font-size:12px;
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	outline: none;
	border:1px solid #bababa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow:0px 1px #fff;
	text-decoration:none;
	clear:left;
	cursor:pointer;
}
.searchbutton:active{
	 box-shadow:inset 0px 0px 5px #ccc;
	 -moz-box-shadow:inset 0px 0px 5px #ccc;
}
.searchbutton:hover{
	background-image: -ms-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image: -o-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image: -moz-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image: linear-gradient(top, #e6e6e6, #e6e6e6);
}
.button_to .jetztbutton{
	color:black;
	padding:7px 10px 6px;
	font-family: 'Museo700';
    font-size:18px;
	background-image: -ms-linear-gradient(top, #ffcc66, #ff9900);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffcc66), to(#ff9900));
	background-image: -webkit-linear-gradient(top, #ffcc66, #ff9900);
	background-image: -o-linear-gradient(top, #ffcc66, #ff9900);
	background-image: -moz-linear-gradient(top, #ffcc66, #ff9900);
	background-image: linear-gradient(top, #ffcc66, #ff9900);
	outline: none;
	border:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow:0px 1px #fff;
	text-decoration:none;
	clear:left;
	box-shadow: 0px 0px 5px #ccc;
	cursor:pointer;
}

.searcfield {width:204px; background:url('/assets/search-field-bg.png') top left repeat-x; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:8px;border:1px solid #bababa; float:left;}
#menu-wrapper {background:#1A6FC4; height:49px; width:100%; clear:both; margin-top:35px;position: absolute; width: 1000px;bottom: 0;}
#menu-wrapper-admin {background:#D41A6F; height:49px; width:100%; clear:both; margin-top:35px;position: absolute; width: 1000px;bottom: 0;}
#menu-wrapper-admin ul.cssMenu, #menu-wrapper-admin ul.cssMenu ul, #menu-wrapper-admin ul.cssMenu a {background:#D41A6F;}

#banner-wrapper {width: 1000px; margin:30px auto 0; height:400px; }
#banner-wrapper h1{color: #383838!important;font-size: 31px!important;font-family: 'Museo500'!important;}
#err-wrapper { margin-top: -40px; }
#banner-wrapper-inner{width:998px; height:398px; border:1px solid #dddddd; background:url('/assets/banner-bg.jpg') top right no-repeat;}
#banner-left-wrapper{width:310px; float:left; padding:20px 0 0 50px;}
#banner-list-wrapper {width:430px; clear:both; background:#f3f3f3; box-shadow: 0px 0px 5px #ccc; padding:20px 30px; margin-bottom:30px;} 
#banner-list-wrapper ul{list-style:none; margin:0; padding:0;}
#banner-list-wrapper li {background:url('/assets/check.png') center left no-repeat; padding:12px 0 8px 25px; font-family: 'Museo500'; color:#666666; font-size:14px;}
#banner-wrapper p{font-family: 'Museo500'; color:#666666; font-size:12px;line-height:18px;}
h1 {font-size:30px; color:#333;font-family: 'Museo700'; font-weight:normal;}
#banner-right-wrapper{width:560px; float:left; margin:30px 0 0 50px; }

#main-content-wrapper {width:922px; min-height: 500px; background:#fff; margin:40px auto 100px; padding:39px;}
#main-content-wrapper h2{font-family: 'Museo700'; font-size:23px; color:#333; font-weight:normal;}
#main-content-wrapper p{font-family: 'Museo500'; font-size:14px; color:#666; font-weight:normal; margin:30px 0;}

.company-container {margin-top:33px; border-bottom:1px dotted #ccc;padding-bottom:33px;}
.thumbnail-container {width:90px; height:90px; float:left; border:5px solid #f0f0f0;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.thumbnail-container img {
    height: 90px;
    width: 90px;
}
.company-details-container{ float:left; margin-left:27px;}
.company-name-container {float:left; min-width:1px;}
.company-rating-container {float:left; margin:3px 0 0 30px;}
.company-tags-container{margin:10px 0 33px 0;}
.star{float:left; margin-right:6px;}
.offerte-btn {cursor: pointer;background:url('/assets/blue-btn.png') top center repeat-x; color:#fff;font-family: 'Museo500'; font-size:12px; float:right; text-align:center;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:7px 15px 6px; border-bottom:1px solid #00548d;border-right:1px solid #00548d;border-left:0;border-top:0;box-shadow: 2px 3px 2px #E9E9E9;text-shadow:1px 1px #00416d;margin-top:-5px;}
.company-tags a{line-height: 15px; background:url('/assets/tag.png') top right no-repeat; display:block; float:left; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border-left:1px solid #f4ad40; box-shadow: -3px 2px 2px #E9E9E9; color:#333; padding:4px 15px 3px 10px; display:block; text-align:center; text-decoration:none; font-size:12px; margin-right:10px; margin-bottom:5px; text-shadow:0px 1px #ffd48e;}

#main-content-wrapper p.company-name{font-family: 'Museo500'; font-size:14px; color:#0066cc; font-weight:normal; margin:0; line-height:20px;}
#main-content-wrapper p.company-name a { color: #0066CC; text-decoration: none;}

#main-left-wrapper{width:631px; padding-right:20px;float:left; border-right:1px solid #e7e7e7;}
#top-5-wrapper, .top-block-wrapper {margin-right:20px; border-top:1px solid #e7e7e7;}
.bottom-block-wrapper {margin-right:20px; border-bottom:1px solid #e7e7e7;}
#map-wrapper{height:400px; clear:both;}

#main-right-wrapper {max-width:240px; float:right; min-width:240px;}
#main-right-wrapper h3 {padding-bottom:5px;font-family: 'Museo700'; font-size:18px; color:#333; font-weight:normal; text-align:left;}
#main-right-wrapper ul {font-family: 'Museo500'; font-size:14px; margin:0;  list-style:none;}
#main-right-wrapper ul li.one-bul{ border-top:2px dotted #999;background:url('/assets/bullet-1.png') center left no-repeat; padding:10px 10px 9px 30px;}
#main-right-wrapper ul li.two-bul{ border-top:2px dotted #999;background:url('/assets/bullet-2.png') center left no-repeat; padding:10px 10px 9px 30px;}
#main-right-wrapper ul li.three-bul{ border-top:2px dotted #999;border-bottom:2px dotted #999;background:url('/assets/bullet-3.png') center left no-repeat; padding:10px 10px 9px 30px;}
#main-right-wrapper ul li.dotted{ border-top:2px dotted #999; padding:10px 10px 9px 10px;}
#main-right-wrapper ul li.one-bul a, #main-right-wrapper ul li.two-bul a, #main-right-wrapper ul li.three-bul a{border: none!important; }
#main-right-wrapper ul a { text-decoration:none; border-top:2px dotted #999; padding:10px 10px 9px 8px; display:block;color:#0066cc;}
#main-right-wrapper ul li:last-child a {  border-bottom:2px dotted #999;}



#footer-wrapper {background:#e0e0e0; overflow:hidden;width:100%;border-top: 1px solid #F1F1F1;box-shadow: 0 0 0 1px #E0E0E0;-webkit-box-shadow: 0 0 0 1px #E0E0E0;}
#footer-links-wrapper {margin:0 auto; width:960px; /*padding-top:78px;*/}
.footer-links-container{width:200px; float:left; padding-bottom:20px;padding-right: 40px;}
#footer-wrapper h4{border-bottom: 1px solid #FFFFFF;color: #333333;font-family: 'Museo700';font-size: 18px;font-weight: normal;margin: 0;padding: 20px 0 4px;text-shadow: 1px 1px #FFFFFF;}
#footer-wrapper ul{border-top: 1px solid #CCCCCC;list-style: none outside none;margin: 0;padding: 0;}
#footer-wrapper ul li {padding: 7px 0;}
#footer-wrapper a{color: #4F4F4F;font-family: 'Museo500';font-size: 13px;padding: 20px 0;text-decoration: none;text-shadow: 1px 1px #FFFFFF;}
#main-right-wrapper a:hover, #footer-wrapper a:hover{color:#1587f9;}
a.fb span, a.tw span, a.gg span{float: left;border: 1px solid #CCCCCC;border-radius: 6px 6px 6px 6px;box-shadow: 0 0 2px #FFFFFF;display: block;height: 32px;padding: 0 !important;width: 32px;margin-right: 10px;margin-top: -10px;
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -ms-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
}
a.fb:hover span, a.tw:hover span, a.gg:hover span{background-color: #1587f9}
a.fb span{background:url('/assets/silver-fb-icon.png') center left no-repeat;}
a.tw span{background:url('/assets/silver-twitter-icon.png') center left no-repeat;}
a.gg span{background:url('/assets/silver-googlplus-icon.png') center left no-repeat;}
a.fb, a.tw, a.gg{display: block;padding: 7px 0 1px !important;}
.footer_SBlock{}
/*----------CSS FOR TABS-------------*/
 .etabs { margin: 0; padding: 0 0 0 10px; }
    /*.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: 1px solid #E7E7E7; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }*/
    .tab { display: inline-block; zoom:1; *display:inline;   border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
    .tab a { font-family: 'Museo500';font-size: 11px; line-height: 2em; display: block; padding: 0 10px; outline: none; color:#666666;text-decoration:none;}
    .tab a:hover { text-decoration: underline; text-decoration:none; }
    .tab.active { background: #fff; padding-top: 2px; position: relative; top: 1px; border: 1px solid #E7E7E7; border-bottom:0px; }
    .tab a.active { font-weight: normal; }
    .tab-container .panel-container { background: #fff; border-top:1px solid #E7E7E7; padding:0; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
    .panel-container { margin-bottom: 10px; }
	.tab-container {width:510px; clear: right; float:right; margin-top:20px;}
	.tab-container p{font-size:13px !important; margin:15px 0 !important;}

/***************** for Offerten anfordern! link on the home page *******************/
#offerten-home{
	line-height: 20px;
	text-decoration: none;
	margin-left: 10px;
	color:white;
	padding:20px;
    font-size:18px;
	background-image: -ms-linear-gradient(top, #66cc00, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66cc00), to(#51a351));
	background-image: -webkit-linear-gradient(top, #66cc00, #51a351);
	background-image: -o-linear-gradient(top, #66cc00, #51a351);
	background-image: -moz-linear-gradient(top, #66cc00, #51a351);
	background-image: linear-gradient(top, #66cc00, #51a351);
    outline:none !important;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
 font-family: 'Myriad Pro', Arial, Helvetica, sans-serif; text-shadow: 1px 1px #1b6000; border: none !important;

}
#offerten-home:hover{outline:none !important; border: none !important;}

.offerte-compname {font-family: 'Myriad Pro', Arial, Helvetica, sans-serif; text-shadow: 1px 1px #005e9c; font-size:16px; font-weight:bold; text-align:center; line-height:15px;}

#offerten{
	margin-left: 10px;
	color:white;
	padding:0 !important;
	font-family:'Gudea';
    font-size:14px;
	/*background-image: -ms-linear-gradient(top, #66cc00, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66cc00), to(#51a351));
	background-image: -webkit-linear-gradient(top, #66cc00, #51a351);
	background-image: -o-linear-gradient(top, #66cc00, #51a351);
	background-image: -moz-linear-gradient(top, #66cc00, #51a351);
	background-image: linear-gradient(top, #66cc00, #51a351);*/
    outline: none;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background:url('/assets/offerten-bg.png') top center no-repeat;
height:75px !important;
width:268px !important; font-family: 'Myriad Pro', Arial, Helvetica, sans-serif; text-shadow: 1px 1px #005e9c;

}

.btn-success {
    background-color: #5BB75B;
    background-image: -moz-linear-gradient(center top , #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/***************** -------------------------------------- *******************/

.breadcrumb {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0 0 0 -14px;
}
.slider-container {
    margin-bottom: 30px;
    margin-top: 20px;
    width: 300px;
}

input[type=submit] {
	margin-left: 5px;
	color:black;
	padding:7px 10px 6px;
	font-family: 'Museo700';
    font-size:12px;
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	outline: none;
	border:1px solid #bababa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow:0px 1px #fff;
	text-decoration:none;
	clear:left;
	cursor:pointer;
}
input[type=submit]:active{
	 box-shadow:inset 0px 0px 5px #ccc;
	 -moz-box-shadow:inset 0px 0px 5px #ccc;
}
input[type=submit]:hover{
	background-image: -ms-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image: -o-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image: -moz-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image: linear-gradient(top, #e6e6e6, #e6e6e6);
}
#main-content-wrapper .breadcrumb a { color: #0066CC; text-decoration: none; font-family: 'Museo500'; font-size:14px;}
input[type=text] {
    background: url('/assets/search-field-bg.png') repeat-x scroll left top transparent;
    border: 1px solid #BABABA;
    border-radius: 5px 5px 5px 5px;
    padding: 8px;
    width: 204px;
}

ul.cssMenu {
    display: block;
    float: left;
}
ul.cssMenu, ul.cssMenu ul {
    background-color: #1A6FC4;
    background-repeat: repeat;
    border-color: #A6A6A6;
    border-style: solid;
    border-width: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0 1px 1px 0;
}

ul.cssMenu li {
    float: left;
}

ul.cssMenu li {
    display: block;
    font-size: 0;
}

ul.cssMenu span {
    background-image: url('/assets/arrows-bottom.png');
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    padding-right: 15px;
}
ul.cssMenu span {
    overflow: hidden;
}

ul.cssMenu ul {
    width: 116.55px;
}
ul.cssMenu, ul.cssMenu ul {
    background-color: #1A6FC4;
    background-repeat: repeat;
    border-color: #A6A6A6;
    border-style: solid;
    border-width: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0 1px 0 0;
}
ul.cssMenu ul li a {
	width: 145px;
	border-right: 0;
}
ul.cssMenu ul {
    left: -1px;
    position: absolute;
    top: 98%;
}
ul.cssMenu ul {
    display: none;
}

ul.cssMenu li:hover {
    position: relative;
}

ul.cssMenu a, ul.cssMenu li.dis a:hover, ul.cssMenu li.sep a:hover {
    background-color: #1A6FC4;
    border-color: #FCEEB0;
    border-style: solid;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font: 11px Arial;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Museo700'; font-size:14px; 
}

ul.cssMenu li a {
	padding: 1.25em 1em;
	border-right: 1px solid #FFFFFF;
    line-height: 14px;
}
ul.cssMenu li:hover > ul {
    display: block;
}

ul.cssMenu li:hover > a, #menu-wrapper-admin ul.cssMenu li:hover > a {
    background-color: #3399FF;
    border-right: 1px solid;
    color: #FFFFFF;
    text-decoration: none;
}

ul.cssMenu li ul.cssMenum li > a {
	background-color: #1580EB;
}

ul.cssMenu li ul.cssMenum li:hover > a {
	background-color: #3399FF;
}

.button_to .jetztbutton:hover{
    background-image: -ms-linear-gradient(top, #ffe6b4, #fbac36);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe6b4), to(#fbac36));
    background-image: -webkit-linear-gradient(top, #ffe6b4, #fbac36);
    background-image: -o-linear-gradient(top, #ffe6b4, #fbac36);
    background-image: -moz-linear-gradient(top, #ffe6b4, #fbac36);
    background-image: linear-gradient(top, #ffe6b4, #fbac36);
}
.button_to .jetztbutton:active{
    box-shadow:inset 0px 0px 5px #cb7a00;
    -moz-box-shadow:inset 0px 0px 5px #cb7a00;
}
div.column li{
	margin-top:20px;
	font-weight:bold;
}
.nav-pills a {color: #0088CC;}

    /*pagination styles*/
nav.pagination .page.gap{display: none}
nav.pagination .page.current{background-color: #f5f5f5;}
nav.pagination span:first-child  a, nav.pagination span:first-child{border-left-width: 1px!important;}