<% unless flash[:error].blank? %>
    <div class="alert alert-error">
        <%= flash[:error] %>
    </div>
<% end %>

<% unless flash[:notice].blank? %>
    <div class="alert alert-success">
        <%= flash[:notice] %>
    </div>
<% end %>
