  <h3><%= t(:how_does_it_work) %></h3>
  <ul>
    <li class="one-bul">Kurzes Formular ausfüllen</li>
    <li class="two-bul">Abschicken</li>
    <li class="three-bul">3 Offerten erhalten</li>
  </ul>
